$wp-small-margin: 5px;
$zero:0px;
$wp-big-margin: 20px;
$big-title-col:#e61052;
$basic-bg:white;
$big-title-font:14px;
$bgc:#eae2d7;
$global-col:#97866f;
$wid:300px;
$link-width:82px;
$link2-width:64px;
$link3-width:77px;
$link-height:22px;
$news-width:640px;
$news-inner-width:317px;
$p-width:170px;
